<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="csrf-token" content={csrf_token_value()}>
    <%= live_title_tag assigns[:page_title] || "Ocean Chat" %>
    <script defer phx-track-static type="text/javascript"
      src={Routes.static_path(@conn, "/assets/app.js")}></script>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <header class="bg-slate-800 w-full h-[4rem] top-0 fixed flex flex-col justify-center">
      <nav class="flex flex-row justify-between items-center text-white">
        <h1 class="md:text-3xl text-center font-mono ml-4">
          Ocean Chat
        </h1>
      </nav>
    </header>
    <main class="mt-[4rem]">
        <%= @inner_content %>
    </main>
  </body>
</html>
